{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

    <h1 class="text-4xl font-bold mb-6 py-6">Contactez-nous</h1>

    {% form_theme form 'tailwind_2_layout.html.twig' %}
    {{ form_start(form, { attr: { class: 'py-6' } }) }}
        <div class="mb-4 bg-emerald-200 rounded-lg py-4 flex flex-1/2">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>  
        <div class="mb-4 bg-emerald-200 rounded-lg py-4 flex flex-1/2">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="mb-4 bg-emerald-200 rounded-lg py-4 flex flex-1/2">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
